* {
  box-sizing: border-box;
  /* border: solid rebeccapurple; */
}

html {
  font-size: 62.5%;
}

:root {
  /* startBtn */
  --fs-1: 35rem;
  --fs-2: 5rem;
  --fs-3: 3.4rem;
}

@media (max-width: 48rem) {
  :root {
    --fs-1: 15rem;
    --fs-2: 2rem;
    --fs-3: 3rem;
  }
}

body {
  background-color: black;
  color: aliceblue;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  transition: 1s;
  background-image: linear-gradient(
    135deg,
    rgb(121, 0, 0),
    rgb(121, 0, 0),
    rgb(255, 57, 57),
    rgb(121, 0, 0)
  );
  border-bottom: solid black var(--fs-2);
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  flex-grow: 1;
  transition: 1s;
  background-image: linear-gradient(
    135deg,
    rgb(151, 151, 151),
    white,
    silver,
    silver
  );
  color: black;
  border-top: solid black var(--fs-2);
}

.startBtn {
  z-index: 1;
  position: absolute;
  height: var(--fs-1);
  width: var(--fs-1);
  border-radius: 100%;
  border: solid black var(--fs-2);
  margin-bottom: -10rem;
}
