* {
  box-sizing: border-box;
  /* border: solid rebeccapurple; */
}

html {
  font-size: 62.5%;
}

:root {
  /* startBtn */
  --fs-1: 15rem;
  --fs-2: 2rem;
  --fs-3: -9.5rem;

  /* card */
  --fs-4: 95vw;
  --fs-5: 135vw;
}

@media (min-width: 60rem) {
  :root {
    /* startBtn */
    --fs-1: 35rem;
    --fs-2: 5rem;
    --fs-3: -21rem;

    /* card */
    --fs-4: 50rem;
    --fs-5: 70rem;
  }
}

body {
  background-color: black;
  color: aliceblue;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex-grow: 6;
  transition: 1s;
  background-image: linear-gradient(
    135deg,
    rgb(121, 0, 0),
    rgb(121, 0, 0),
    rgb(255, 57, 57),
    rgb(121, 0, 0)
  );
  border-bottom: solid black var(--fs-2);
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  flex-grow: 6;
  transition: 1s;
  background-image: linear-gradient(
    135deg,
    rgb(151, 151, 151),
    white,
    silver,
    silver
  );
  color: black;
  border-top: solid black var(--fs-2);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
}

@keyframes footer {
  0% {
    background-color: white;
  }
  100% {
    background-image: none;
    background-color: black;
    color: magenta;
  }
}

.startBtn {
  z-index: 1;
  position: absolute;
  height: var(--fs-1);
  width: var(--fs-1);
  border-radius: 100%;
  border: solid black var(--fs-2);
  margin-bottom: var(--fs-3);
}

.startBtn:active {
  background-color: red;
  border: solid black 2.5rem;
}

.dashboard {
  display: none;
  flex-grow: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: blueviolet; */
}

.cardPlatform {
  display: flex;
  height: 0;
}

.cardEmpty {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: grow 1s 1s 1 forwards;
  border: dashed grey 1rem;
  border-radius: 2.7%;
}

.card {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid gold 1rem;
  border-radius: 2.7%;
  background-image: linear-gradient(135deg, black, teal, purple);
}

@keyframes grow {
  0% {
    margin-top: 200%;
    width: 0;
    height: 0;
  }
  100% {
    margin-top: 2rem;
    width: var(--fs-4);
    height: var(--fs-5);
  }
}
