* {
  box-sizing: border-box;
  /* border: solid rebeccapurple; */
}

html {
  font-size: 62.5%;
}

:root {
  /* fonts */
  --fs-01: 3rem;
  --fs-010: 3.4rem;
  --fs-02: 2rem;
  --fs-03: 1.4rem;

  /* startBtn */
  --fs-1: 15rem;
  --fs-3: -9.5rem;

  /* card */
  --fs-4: 95vw;
  --fs-5: 135vw;
  --fs-6: 1.2rem;
}

@media (min-width: 60rem) {
  :root {
    /* startBtn */
    --fs-1: 35rem;
    --fs-2: 5rem;
    --fs-3: -21rem;

    /* card */
    --fs-4: 50rem;
    --fs-5: 70rem;
  }
}

body {
  background-color: black;
  color: aliceblue;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex-grow: 10;
  transition: 1s;
  background-image: linear-gradient(
    135deg,
    rgb(121, 0, 0),
    rgb(121, 0, 0),
    rgb(255, 57, 57),
    rgb(121, 0, 0)
  );
  border-bottom: solid black var(--fs-02);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-grow: 10;
  transition: 1s;
  background-image: linear-gradient(
    135deg,
    rgb(151, 151, 151),
    white,
    silver,
    silver
  );
  color: black;
  border-top: solid black var(--fs-02);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
}

@keyframes footer {
  0% {
    background-color: white;
  }
  100% {
    background-image: none;
    background-color: black;
    color: magenta;
  }
}

h1 {
  font-size: var(--fs-01);
  line-height: var(--fs-010);
  margin: 0;
  padding-bottom: 0;
  height: fit-content;
}

h4 {
  font-size: var(--fs-6);
}

p {
  margin: 0 1rem;
}

img {
  max-height: 50vw;
}

.hide {
  display: none;
}

.pokeballBottom {
  z-index: 1;
  position: absolute;
  height: 7.5rem;
  width: var(--fs-1);
  border-radius: 0 0 35rem 35rem;
  margin-top: -2rem;
  background-color: black;
}

.startBtn {
  z-index: 2;
  position: absolute;
  height: var(--fs-1);
  width: var(--fs-1);
  border-radius: 100%;
  border: solid black var(--fs-02);
  margin-bottom: var(--fs-3);
}

.startBtn:active {
  background-color: red;
  border: solid black 2.5rem;
}

.dashboard {
  display: none;
  flex-grow: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: blueviolet; */
}

.cardPlatform {
  display: flex;
}

.cardEmpty {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: growCard 1s 1s 1 forwards;
  border: dashed grey 1rem;
  border-radius: 2.7%;
}

@keyframes growCard {
  0% {
    margin-top: 200%;
    width: 0;
    height: 0;
  }
  100% {
    margin-top: 2rem;
    width: var(--fs-4);
    height: var(--fs-5);
  }
}

.cardfaceEmpty {
  animation: growFace 1s 1s 1 forwards;
  border: dashed 1rem grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes growFace {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 80vw;
    height: 57vw;
    margin-top: 2rem;
  }
}

.unown {
  display: flex;
  height: 0;
  opacity: 0;
  animation: fadeIn 1s 2s 1 forwards;
}

@keyframes fadeIn {
  100% {
    height: auto;
    opacity: 100%;
  }
}

.card {
  color: black;
  display: flex;
  width: var(--fs-4);
  height: var(--fs-5);
  flex-direction: column;
  align-items: center;
  border: solid gold 1rem;
  border-radius: 2.7%;
  background-image: linear-gradient(135deg, silver, teal, purple);
}

.cardface {
  display: flex;
  width: 80vw;
  height: 52vw;
  justify-content: center;
  align-items: center;
  border: 0.7rem solid;
  border-color: rgb(181, 157, 0) rgb(255, 217, 1) rgb(205, 196, 27)
    rgb(220, 199, 11);
}

.title {
  display: none;
  width: 80vw;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.pkmnImg {
  display: none;
}

.detailRibbon {
  display: none;
  width: 80%;
  color: black;
  background-image: linear-gradient(90deg, gold, rgb(255, 255, 50), gold);
  margin-top: 1rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
}

.moveNode {
  display: none;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid black 0.2rem;
  font-size: var(--fs-02);
  width: 92%;
}

.cardFooter {
  display: none;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-03);
  width: 85vw;
}

.ability {
  flex-grow: 3;
  align-items: center;
}

.infoBox {
  display: none;
  flex-grow: 2;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  border: 0.3rem solid;
  border-color: rgb(155, 155, 0) rgb(227, 227, 0) rgb(205, 196, 27)
    rgb(217, 220, 11);
}

.cardBottom {
  display: none;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.cornerIcon {
  position: absolute;
  z-index: 1;
  margin-left: 36rem;
}

.options {
  display: flex;
  justify-content: space-around;
  animation: optionsFade 1s 1s 1 forwards;
  flex-grow: 0;
  opacity: 0;
  margin-top: 5%;
  width: 100%;
  height: 0;
}

@keyframes optionsFade {
  0% {
    height: auto;
  }
  100% {
    opacity: 100%;
    flex-grow: 1;
    height: fit-content;
  }
}

.optionsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  border-radius: 2rem;
  background-color: transparent;
  border: solid blue 1rem;
  border-radius: 2rem;
  background-color: gold;
  margin: 0 1rem;
}

.pikachu {
  width: 100%;
}

.cardIcon {
  height: 28vw;
  width: 20vw;
  border: dashed black 0.4rem;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.cardIconFace {
  width: 80%;
  margin: 18% 5% 70% 5%;
  border: dashed black 0.3rem;
  background-color: gold;
}
